@media only screen and (max-width: 600px) {
    .containermain{
        flex-direction: column-reverse !important;
    }
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
    ::-webkit-scrollbar-track {
    background: transparent; 
  }
    ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } 